.topBar {
  position: relative;
  padding: 0 40px;
}

.topBar:not(.editing) {
  user-select: none;
}

.topBar.editing {
  padding: 5px;
}

.topBar:not(.transforming):hover {

  & .deleteColumnButton,
  & .renameColumnButton {
    opacity: 1;
    transition: opacity 0;
  }
}

.deleteColumnButton,
.renameColumnButton {
  position: absolute;
  top: 5px;
  padding: 8px;
  opacity: 0;
  transition: opacity .2s;
}

.renameColumnButton {
  right: 0;
}

.deleteColumnButton {
  left: 0;
}

.columnTitle {
  text-align: center;
  font-size: 20px;
  padding: 12px;
  cursor: grab;
}

.contentColumn,
.draggingPlaceholder {
  max-width: 400px;
  min-height: 100%;
  background-color: var(--background-alt);
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 0 9px var(--background);
}

.draggingPlaceholder {
  background-color: transparent;
  border: 2px solid var(--accent);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.addCardButton {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  min-width: 100%;
  border: 3px solid var(--hover);
  border-radius: 12px;
}
