.container {
  position: absolute;
  top: 0;
  left: 0;
}

.contextMenu {
  position: absolute;
  background-color: var(--background-alt);
  border: 2px solid var(--background);
  border-radius: 4px;
  padding: 16px;
  z-index: 3;
  min-width: 220px;
}
