.container {
  display: flex;
  gap: 16px;
}

.tabs {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.deleteTabButton {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  width: 100%;
}
