.container {
  display: flex;
  gap: 16px;
}

.tabs {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.tabButton {
  padding: 4px 6px;
  color: #777;
  border-bottom: 1px solid transparent;
  transition: all .3s;
}


.tabButton.active,
.tabButton:hover {
  color: var(--text-color);
  border-color: var(--text-color);
}
