.card {
  cursor: grab;
  padding: 12px 16px;
  font-size: 18px;
  border: 1px solid var(--hover);
  background-color: var(--background);
  border-radius: 12px;
  /* TODO: make moving cards work properly even when removing min height */
  min-height: 100px;
}

.card:not(.editing) {
  user-select: none;
}

.card.editing {
  padding: 0;
  display: flex;
}

.draggingPlaceholder {
  background-color: transparent;
  background-color: var(--background);
  border: 2px solid var(--accent);
}
