:root {
  --background: #13141D;
  --background-alt: #1A1B26;
  --hover: #232538;
  --border-light: #aaa;
  --border-active: #ddd;
  --text-color: #eee;
  --secondary-color: #41435b;
  --error: #e24a4a;
  --accent: #16E6C3;
  --trash-bg: #681e1e45;
  --trash-bg-hover: #681e1eba;
}

.markdown p,
.markdown li,
.markdown quote,
.markdown blockquote {
  font-size: 1.3rem;
}

.markdown *:focus-visible {
  outline: none;
  border: none;
}

.markdown li {
  margin-left: 20px;
}

.markdown blockquote {
  background-color: var(--background-alt);
  padding: 8px 12px;
  border-radius: 4px;
  font-style: italic;
}

a {
  text-decoration: none;
}

html,
body {
  max-width: 100vw;
  font-size: 16px;
}

body {
  overflow-x: hidden;
}


body {
  background-color: var(--background);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

body.overflow-hidden {
  overflow: hidden;
}

* {
  font-family: var(--font-geist-sans), sans-serif;
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}

code {
  font-family: var(--font-geist-mono), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-size: 1rem;
  color: var(--text-color);
  background: transparent;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 2.875rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1.5rem;
}
