:root {
  --background: #13141D;
  --background-alt: #1A1B26;
  --hover: #232538;
  --border-active: #ddd;
  --text-color: #eee;
  --error: #e24a4a;
  --accent: #16E6C3;
}

.markdown *:focus-visible {
  outline: none;
  border: none;
}

.markdown h1:first-child {
  text-align: center;
}

a {
  text-decoration: none;
}

html,
body {
  max-width: 100vw;
  font-size: 16px;
}

body {
  overflow-x: hidden;
}


body {
  background-color: var(--background);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

body.overflow-hidden {
  overflow: hidden;
}

* {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-size: 1rem;
  color: var(--text-color);
  background: transparent;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 2.875rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1.5rem;
}
