.sidebar {
  position: relative;
  border-right: 1px solid #202233;
  box-shadow: 1px 2px 5px #202233;
  padding: 24px 24px;
  min-height: 100vh;
  background-color: var(--background-alt);
}

.title {
  margin-bottom: 32px;
  margin-left: 8px;
}


.stickyBar {
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 8px 0;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  border-top: 1px solid var(--hover);
  width: 100%;
}

.logOut {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  padding: 8px 16px;
}

.logOut img {
  margin-bottom: 4px;
}
