.pageLinkContainer {
  position: relative;
  width: 100%;
  display: flex;
}

.pageLink {
  width: 100%;
  padding-right: 76px;
}

.pageLinkContainer:hover {
  transition: background-color .2s;

  & .deletePageButton {
    opacity: 1;
  }
}

.buttons {
  opacity: 0;
  transition: opacity .2s;
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
}

.button {
  transition: background-color .2s;
  display: flex;
  padding: 7px;

  &:hover {
    background-color: var(--background);
  }
}

.pageLinkContainer:hover {
  background-color: var(--hover);

  .buttons {
    opacity: 1;
  }
}

.button:hover {
  background-color: var(--background-alt);
}
