.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 18px;
}

.addPage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 4px;
  margin-top: 16px;
}

.addPage img {
  margin-bottom: 4px;
}

.pageLinkContainer {
  position: relative;
  width: 100%;
  display: flex;
}

.pageLink {
  width: 100%;
}

.pageLinkContainer:hover {
  background-color: var(--hover);
  transition: background-color .2s;

  & .deletePageButton {
    opacity: 1;
  }
}

.deletePageButton {
  opacity: 0;
  transition: opacity .2s, background-color .2s;
  display: flex;
  padding: 7px;
  position: absolute;
  right: 0px;
  top: 0px;

  &:hover {
    background-color: var(--background);
  }
}

.overlay {
  background-color: rgba(0, 0, 0, .3);
  padding: 36px;
}

.innerOverlay {
  padding: 36px;
  background-color: var(--background);
  max-width: 580px;
}

.modalTitle {
  font-size: 24px;
  text-align: center;
  margin-bottom: 48px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.buttons>button {
  padding: 10px 16px 8px;
  border-radius: 6px;
  transition: all .2s;
  font-weight: bold;
}

.abort {
  border: 1px solid #777;
}

.abort:hover {
  border-color: var(--text-color);
}

.delete {
  border: 2px solid var(--error);
}

.delete:hover {
  background-color: var(--error);
}
