.title {
  font-size: 38px;
  text-align: center;
}

.overlay {
  min-width: 90vw;
  max-width: 90vw;
  min-height: 90vh;
  max-height: 90vh;
  flex-direction: column;
  padding-top: 24px;
  justify-content: flex-start;
  position: relative;
  overflow-y: auto;
}

.closeModalButton {
  position: absolute;
  padding: 12px;
  top: 18px;
  right: 18px;
}

.innerContainer {
  width: 100%;
  min-height: 100%;
}

.label {
  color: #777;
}

.titleTextArea {
  all: unset;
  font-size: 28px;
  margin-top: 16px;
  height: 40px;
  field-sizing: content;
  width: 100%;
}

.descriptionContainer {
  margin-top: 32px;
}

.description {
  margin-top: 16px;
  padding-bottom: 24px;
}
