.columns {
  display: flex;
  gap: 32px;
  min-height: 80vh;
}

.column {
  min-width: 300px;
  width: 100%;
}

.addCategoryButton {
  border: 1px solid var(--hover);
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
}
